/background
/memory
/build
/cache
/examples
/library
/library.json
/ms_toolkit.egg-info
/NIST14.model
/NIST14_CHO_GMM_preselector.pkl
/notebooks
/preselector.pkl
/massbank.ipynb
__pycache__/
/.ipynb_checkpoints
/*.egg-info
.DS_Store
.worktrees/

# Experimental / local-only
DSCI 575/
ms_toolkit/classifiers.py
models/*.npy
.worktrees
